a.title-link:link {color:black; text-decoration:none;}
a.title-link:hover {color:gray;}

.project-collection-nav-name{
    font-size: 1.2rem;
    font-weight:bold;
}

.project-name-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.file-name-container:nth-child(n+2){
    margin-top: 15px;
}

.file:nth-child(n+3){
    border-top: 1px solid gray;
}

.name-cell {
    width: calc(100% - 25px);
    flex: 1 auto;
    padding: 5px;
}

.button-cell {
    width:25px;
    flex: 1 auto;
}

.profile-pic{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.stretch-container{
    height: 82vh;
}

.script-name{
    font-size: 1.25rem;
    margin-right: 1rem;
}

.script-area-height{
    height: calc(67vh - 60px);
}

.script-area-input-height{
    height: calc(57vh - 50px) !important;
    width: 100%
}

.io-area-height{
    height: calc(20%) !important;
}

.script-io-height{
    height: calc(26vh - 85px) !important;
    min-height: 70px;
}

.no-scale-textarea{
    /* removes the scalable option for inputs */
    resize: none; 
}

.editor-content-height{
    height: calc(100vh - 133px);
}

.list-box{
    background: white;
    min-height: 200px;
    width:100%;
    overflow:hidden; 
    overflow-y:scroll;
    height: 100%;
}

.list-box-outer{
    height: calc(100% - 50px);
}

.round-div{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.text-smaller{
    font-size: .8em;
}

.text-like{
    font-size: .7em;
}

.comment-box{
    border-top: .3em solid white;
}

.edit {
    color: #007bff;
    cursor: pointer;
    font-size: 12pt;
}

.edit:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.invalid {
    border: 1px solid red;
}